jumbotron {
  width: 1000px;
}

img {
  float: right;
  padding: 10px;
  margin-right: 90px;
  margin-left: 10px;
}

.borders {
  border: solid;
  border-style: ridge;
  float: left;
  width: 400px;
}

.jumbotron {
  background-color: blue;
}
