h1 {
  font-family: fantasy;
  text-align: center;
}

img {
  float: right;
  padding: 10px;
  margin-right: 90px;
  margin-left: 10px;
}

.borders {
  border: solid;
  border-style: ridge;
  float: left;
  width: 400px;
}

.sidebar {
  float:right;
  margin-right: 90px;

}

.school {
  color:green;
  font-weight: bold;
}

.fun ul li {
  color:purple;
  font-weight:thin;
}

.serious p {
  color:orange;
  font-weight:bold;
}
