h1 {
  font-family: fantasy;
  text-align: center;
}

img {
  float: right;
  padding: 10px;
  margin-right: 90px;
  margin-left: 10px;
}

.sidebar {
  float:right;
  margin-left:10px;
}

.school {
  color:green;
  font-weight: bold;
}

.fun ul li {
  color:purple;
  font-weight:thin;
}

.serious p {
  color:orange;
  font-weight:bold;
}

#large {
  font-size: 20px;
}

.description {
  font-style: italic;
}
